#box {
  display: inline-block;
  background-color: #00B9AE;
  box-shadow: 10px 10px 0 #05445e;
  text-align: center;
  padding: 42px 44px;
  margin-bottom: 40px;
}

#box h3 {
  margin-bottom: 28px;
}
