i{
  position: absolute;
  height: 200px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  animation: animat 5s linear infinite;
  z-index: -1;
  
}

i:nth-child(3n+1){
  background: linear-gradient(40deg, #00B9AE,transparent);
}

i:nth-child(3n+2){
  background: linear-gradient(46deg, #037171,transparent);
}
i:nth-child(3n+3){
  background: linear-gradient(47deg, #03312E,transparent);
}
@keyframes animat {
  0%{
    transform: translatey(-200px);
  }
  100%{
    transform: translatey(calc(75vh + 200px));
  }
}