.descricao{
  font-family: 'Press Start 2P', sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}


.center{

  align-items: center;
}