
.title{
  font-family: 'Press Start 2P', sans-serif;
  color:#000;
  text-shadow: 1px  2px 0px #fff;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  
  
}

.skill{
  display: flex;
  align-items: center;
  font-size: 25px;

}

.skill .icon{
  margin-left: 25px;

}

.bar{
  background-color: aqua;
  box-sizing: border-box;
  appearance: none;
  border: 5px solid #000;
  height: 40px;
  margin-left: 10px;

}

.bar::-webkit-progress-bar{
  background-color:#39A9DB;

}


.bar::-webkit-progress-value{
  background-color:#011936;

}

.skill .right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skill .title{
  margin-bottom: 10px;
}

