i{
  position: absolute;
  height: 200px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%, transparent); 
  animation: animat 5s linear infinite;
  z-index: -1;
}

i:nth-child(3n+1){
  background: linear-gradient(40deg, #E8EEF1,transparent);
}

i:nth-child(3n+2){
  background: linear-gradient(46deg, #43B0F1,transparent);
}
i:nth-child(3n+3){
  background: linear-gradient(47deg, #1E3D58,transparent);
}
@keyframes animat {
  0%{
    transform: translatey(-200px);
  }
  100%{
    transform: translatey(calc(75vh + 200px));
  }
}